@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(-45deg, #000000, #0c0000, #0a0f2c, #0c0c0c);
  color: #fff;
  background-size: 200% 1000%;
  animation: animacaoFundo 15s ease infinite;
  scroll-behavior: smooth;
}

/* HEADER FIXO */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(10, 10, 25, 0.85);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 30px;
  box-shadow: 0 0 20px #00f0ff;
  backdrop-filter: saturate(180%) blur(12px);
  z-index: 1000;
}

.logo {
  border-radius: 50%;
  box-shadow: 0 0 15px #00f0ff;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav li a {
  color: #ebf1f2;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

nav li a:hover {
  color: #00f0ff;
  text-shadow: 0 0 5px #00f0ff;
  transform: scale(1.1);
}

.input-para-pesquisa {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-para-pesquisa input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #00f0ff;
}

.input-para-pesquisa input::placeholder {
  color: #00f0ff;
  opacity: 0.7;
  font-style: italic;
}

.botao-entrar,
.botao-saiba-mais {
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #00f0ff, #00bcd4);
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.botao-entrar:hover,
.botao-saiba-mais:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 28px rgba(0, 240, 255, 0.6);
}

/* SEÇÃO PRINCIPAL */

.secao-principal {
  position: relative;
  margin-top: 100px;
  text-align: center;
  margin-top: 195px;
}

.secao-principal h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  color: #00f0ff;
  text-shadow: 0 0 10px #00f0ff;
  z-index: 2;
}

.imagem-principal-carro {
  width: 100%;
  max-width: 1000px;
  border-radius: 15px;
  box-shadow: 0 0 20px #00f0ff;
}

/* MARCAS */

.secao-principal-marcas {
  margin: 50px 30px;
  padding-bottom: 40px;
  text-align: center;
  background: rgba(10, 10, 25, 0.85);
  border-radius: 15px;
  box-shadow: 0 0 15px #00f0ff;
}

.secao-principal-marcas h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  color: #00f0ff;
  text-shadow: 0 0 5px #00f0ff;
  margin-bottom: 30px;
  padding-top: 30px;
}

.secao-principal-marcas ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
  padding: 0;
}

.secao-principal-marcas li img {
  width: 100px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.secao-principal-marcas li:hover img {
  transform: scale(1.15);
  box-shadow: 0 5px 15px rgba(0, 240, 255, 0.5);
}

/* MODELOS EM DESTAQUE */

.secao-modelos-em-destaque {
  margin: 50px 30px;
  padding: 20px;
  background: rgba(10, 10, 25, 0.85);
  border-radius: 15px;
  box-shadow: 0 0 15px #00f0ff;
  text-align: center;
  padding-bottom: 50px;
}

.secao-modelos-em-destaque h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  color: #00f0ff;
  text-shadow: 0 0 5px #00f0ff;
  margin-bottom: 30px;
  padding-top: 15px;
}

.secao-modelos-em-destaque h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.secao-modelos-em-destaque p {
  font-size: 18px;
  color: #ebf1f2;
  margin-bottom: 30px;
}

.modelos-em-destaque {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.modelo {
  background: rgba(10, 10, 25, 0.85);
  border-radius: 10px;
  padding: 15px;
  width: 220px;
  text-align: center;
  box-shadow: 0 0 15px #00f0ff;
  transition: 0.3s;
}

.modelo:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px #00f0ff;
  transition: all 0.3s ease-in-out;
}

.modelo img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.secao-modelos-em-destaque .botao-saiba-mais {
  margin-top: -10px;
  margin-bottom: 10px;
}

/* SEÇÃO SERVIÇOS */

.secao-servicos {
  margin: 50px 30px;
  padding: 20px;
  background: rgba(10, 10, 25, 0.85);
  border-radius: 15px;
  box-shadow: 0 0 15px #00f0ff;
  text-align: center;
  padding-bottom: 50px;
}

.secao-servicos h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  color: #00f0ff;
  text-shadow: 0 0 5px #00f0ff;
  margin-bottom: 30px;
  padding-top: 15px;
}

.lista-servicos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}

.lista-servicos li{
  background: rgba(10, 10, 25, 0.85);
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 0 15px #00f0ff;
  transition: 0.3s;
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  font-size: larger;
  color: #ebf1f2;
}

.lista-servicos li:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px #00f0ff;
  transition: all 0.3s ease-in-out;
}

/* SEÇÃO USADOS */

.secao-usados {
  margin: 50px 30px;
  padding: 20px;
  background: rgba(10, 10, 25, 0.85);
  border-radius: 15px;
  box-shadow: 0 0 15px #00f0ff;
  text-align: center;
  padding-bottom: 50px;
}

.secao-usados h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  color: #00f0ff;
  text-shadow: 0 0 5px #00f0ff;
  margin-bottom: 30px;
  padding-top: 15px;
}

.lista-usados {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.lista-usados li {
  background: rgba(10, 10, 25, 0.85);
  border-radius: 10px;
  padding: 15px;
  width: 220px;
  text-align: center;
  box-shadow: 0 0 15px #00f0ff;
  transition: 0.3s;
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  font-size: larger;
  color: #ebf1f2;
}

.lista-usados li:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px #00f0ff;
  transition: all 0.3s ease-in-out;
}

/* SEÇÃO CONTATOS */

.secao-contatos {
  margin: 50px 30px;
  padding: 20px;
  background: rgba(10, 10, 25, 0.85);
  border-radius: 15px;
  box-shadow: 0 0 15px #00f0ff;
  text-align: center;
  padding-bottom: 50px;
}

.titulo-contatos {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  color: #00f0ff;
  text-shadow: 0 0 5px #00f0ff;
  margin-bottom: 30px;
  padding-top: 15px;
}

.formulario-contato {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
}

.contato-inpat,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #00f0ff;
  font-size: 16px;
  resize: vertical;
  outline: none;
}

.botao-enviar-mensagem {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #00f0ff, #00bcd4);
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.botao-enviar-mensagem:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 28px rgba(0, 240, 255, 0.6);
}

/* BUTAO WHATSAPP FLUTUANTE */

.img-whatsapp {
  width: 70px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1001;
}

.secao-whatsapp .img-whatsapp:hover {
  transform: scale(1.3);
  transition: 0.3s all ;
}

/* FOOTER */
footer {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  background: rgba(10, 10, 25, 0.85);
  color: #00f0ff;
  border-top: 2px solid #00bcd4;
  box-shadow: 0 0 10px #00f0ff;
}

/* ANIMAÇÃO DE FUNDO */
@keyframes animacaoFundo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
